@import "module/header";
@import "module/footer";
* {
    padding: 0;
    margin: 0; }
ul li {
    list-style: none; }
a {
    text-decoration: none; }
#b-banner{width: 100%;height: 40px;}
#main{
    width: 1180px;
    min-height:1500px ;
    margin: 60px auto 150px;
    #left{width: 280px;float: left;
        #nav{height: 30px;width: 280px;
            a{font-size: 12px;color: #333333;}
        }
        #genre{width: 280px;background:#f2f2f2;float: left;
                #top{width: 250px;margin-left:20px;margin-top:20px;float: left;
                    p{font-size: 42px;color:#444444;width: 250px;height: 42px;float: left;line-height: 42px;}
                    ul li span:nth-child(1){font-size: 16px;float: left;}
                    ul li span:nth-child(2){float: right;width:12px;height:12px;background: url(/images/xia.jpg) no-repeat;margin-top: -20px;cursor: pointer;}
                    ul li span:nth-child(1)::after{content: "";background:url(/images/l-bottom.jpg) no-repeat;float: left;width:250px;height: 4px;}
                    li{width: 250px;float: left;
                        ul{float: left;line-height: 30px;margin-top:20px;display: none;
                            li{width: 230px;margin-left:20px; float: left;font-size: 16px;cursor: pointer;}
                        }
                    }
                }
                #bottom{width: 250px;margin-left:20px;margin-top:20px;float: left;
                    p{font-size: 42px;color:#444444;width: 250px;height: 42px;float: left;line-height: 42px;}
                    ul li span:nth-child(1){font-size: 16px;float: left;}
                    ul li span:nth-child(2){float: right;width:12px;height:12px;background: url(/images/xia.jpg) no-repeat ;margin-top: -20px;cursor: pointer;}
                    ul li span:nth-child(1)::after{content: "";background:url(/images/l-bottom.jpg) no-repeat;float: left;width:250px;height: 4px;}
                    li{width: 250px;float: left;
                        ul{float: left;line-height: 30px;margin:5px;width: 240px;display: none;
                            li{margin-left:20px; float: left;font-size: 16px;cursor: pointer;}
                        }
                    }
                }
        }
    }
    #right{width:890px;min-height:1500px;float: right;
        // background:green;
            .dropdown{float: left;margin-top:30px;}
            #pagination{float:right;height: 34px;
                    .pagination{margin-top: 30px;}
            }
            #shop-items{
				width: 890px;
                margin-top: 100px;
				ul{ 
					width: 890px;
					display: flex;
					flex-wrap: wrap;
					flex-direction:row;
					justify-content: space-between;
					li{ 
						width: 200px;height: 375px;
						.img-i{width: 200px;height: 270px;}
						.d-img{width: 200px;height: 20px;
								img{padding-right: 10px;}
						}
						.d-title{width: 200px;height: 40px;
								span{font-size: 16px;}
						}
						.d-sale{width: 200px;height: 45px;
								p{float: left;font-size: 16px;}
								span{float:right;font-size: 16px;}
						}
					}
				}
			}
    }
}
